@keyframes mouse-pulsate {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.3; } }
@keyframes border-pulsate {
  0% {
    border-color: rgba(255, 128, 0, 0); }
  50% {
    border-color: #ff8000; }
  100% {
    border-color: rgba(255, 128, 0, 0); } }
body {
  background: url(../img/bg.png);
  padding-top: 40px;
  position: relative;
  background-size: 150%;
  background-repeat: no-repeat; }

/*HOME*/
.home {
  width: 100%;
  text-align: center;
  padding-top: 40%; }

* {
  box-sizing: border-box; }

/*IMG DEFALT*/
.internas {
  width: 100%;
  height: 90vh;
  float: left;
  margin-top: 30px; }
  .internas .btn-texto {
    position: absolute;
    border: 0;
    width: 30%;
    padding-left: 1%;
    height: auto;
    float: left;
    z-index: 11;
    text-align: left;
    background: transparent; }
    .internas .btn-texto img {
      width: 100%; }
  .internas .pc {
    position: absolute;
    width: 100%;
    bottom: 0; }
    .internas .pc .img-interna {
      width: 100%;
      float: left;
      text-align: center; }
      .internas .pc .img-interna img {
        width: 100%; }
    .internas .pc .link {
      background: transparent;
      width: 35%;
      height: 40%;
      position: absolute;
      left: 21%;
      top: 6%;
      z-index: 102;
      border: 0; }
    .internas .pc .tela1 {
      display: none;
      z-index: 101;
      width: 100%;
      position: fixed;
      top: 7%;
      text-align: center; }
      .internas .pc .tela1 img {
        width: 100%; }
    .internas .pc .zoom-link {
      border: 5px solid #ff8000 !important;
      z-index: 200 !important;
      animation: border-pulsate 2s infinite; }
    .internas .pc .btn-voltar {
      display: none;
      width: 100%;
      text-align: center;
      position: fixed;
      color: #ff8000;
      font-size: 24px;
      bottom: 20px;
      z-index: 5; }
    .internas .pc .btn-controle {
      right: 5%;
      font-size: 350%;
      position: absolute;
      bottom: 5%;
      width: 15%; }
      .internas .pc .btn-controle a {
        color: transparent;
        margin: 0 10%; }
        .internas .pc .btn-controle a i {
          color: #fff; }
  .internas .btn-voltar {
    position: absolute;
    z-index: 5;
    border: 0;
    bottom: 0;
    margin-bottom: 2.5%;
    text-align: right;
    width: 100%;
    padding-right: 1.5%; }
    .internas .btn-voltar button {
      background: #9aa82d;
      color: #fff;
      border: 0;
      width: 50px;
      height: 35px; }
  .internas .mouse {
    position: absolute;
    z-index: 100;
    width: auto; }
    .internas .mouse img {
      animation: mouse-pulsate 2s infinite;
      width: 100%; }

#page-1 {
  display: block; }
  #page-1 .mouse {
    top: 43%;
    left: 23%; }
  #page-1 .zoom-link {
    width: 20% !important;
    height: 28% !important;
    top: 24% !important;
    left: 4% !important; }
  #page-1 .vis-n {
    visibility: hidden; }

#page-2 {
  display: none; }
  #page-2 .mouse {
    top: 45%;
    left: 25%; }
  #page-2 .zoom-link {
    width: 9% !important;
    height: 14% !important;
    top: 47% !important;
    left: 19.9% !important; }

#page-3 {
  display: none; }
  #page-3 .mouse {
    top: 38.5%;
    left: 45%; }
  #page-3 .zoom-link {
    width: 12.7% !important;
    height: 14.7% !important;
    top: 24.8% !important;
    left: 86.8% !important; }

#page-4 {
  display: none; }
  #page-4 .mouse {
    top: 40%;
    left: 29%; }
  #page-4 .zoom-link {
    width: 22.5% !important;
    height: 15% !important;
    top: 28.9% !important;
    left: 16.8% !important; }

#page-5 {
  display: none; }
  #page-5 .mouse {
    top: 40%;
    left: 37%; }
  #page-5 .zoom-link {
    width: 16.8% !important;
    height: 7.5% !important;
    top: 35.3% !important;
    left: 54% !important; }

#page-6 {
  display: none; }
  #page-6 video {
    width: 100%;
    height: auto !important;
    margin-top: -70px;
    background: #000;
    position: fixed;
    z-index: 2; }

#page-7 {
  display: none; }
  #page-7 .mouse {
    top: 48%;
    left: 34%; }
  #page-7 .zoom-link {
    width: 26.7% !important;
    height: 7.5% !important;
    top: 71% !important;
    left: 36.8% !important; }

#page-8 {
  display: none; }
  #page-8 video {
    width: 100%;
    height: auto !important;
    margin-top: -70px;
    background: #000;
    position: fixed;
    z-index: 2; }

#page-9 {
  display: none; }
  #page-9 .logo {
    float: left;
    width: 100%;
    text-align: center; }
  #page-9 .btn-end {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5%; }
    #page-9 .btn-end a {
      color: transparent; }
      #page-9 .btn-end a .btn-final {
        margin: 0 5%;
        box-sizing: border-box;
        border: 0;
        background: transparent;
        margin-top: 20%; }
  #page-9 .reborn {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15%; }
    #page-9 .reborn a {
      font-size: 350%;
      color: #fff; }

.zoom-in {
  transition: -webkit-transform 0.25s ease;
  -webkit-transform: scale(4.5);
  padding-top: 20%;
  padding-left: 19%; }

@media screen and (max-width: 737px) {
  body {
    background-size: 130%; }

  .internas .mouse {
    width: 5%; }
  .internas .btn-texto {
    margin-top: -30px; }
    .internas .btn-texto img {
      width: 100%; }
  .internas .pc {
    width: 80%;
    text-align: center;
    margin-left: 12.5%;
    margin-bottom: 0%; }
    .internas .pc .btn-controle {
      width: 25%;
      right: 0;
      bottom: 10%; }
      .internas .pc .btn-controle a {
        margin: 0 5%; }
    .internas .pc .tela1 {
      top: 0;
      left: 0;
      background: #000; }
      .internas .pc .tela1 img {
        width: 90%; }
    .internas .pc .btn-voltar {
      z-index: 101;
      left: 0;
      bottom: -4%; }

  #page-1 .mouse {
    top: 42%;
    left: 32.5%; }
  #page-1 .zoom-link {
    width: 23% !important;
    height: 33% !important;
    top: 18% !important;
    left: -5% !important; }

  #page-2 .mouse {
    top: 45%;
    left: 34.5%; }
  #page-2 .zoom-link {
    width: 10% !important;
    height: 15% !important;
    top: 45% !important;
    left: 13% !important; }

  #page-3 .mouse {
    top: 40%;
    left: 49.5%; }
  #page-3 .zoom-link {
    width: 15% !important;
    height: 16% !important;
    top: 20% !important;
    left: 88% !important; }

  #page-4 .mouse {
    top: 40%;
    left: 35%; }
  #page-4 .zoom-link {
    width: 25% !important;
    height: 17% !important;
    top: 24% !important;
    left: 10% !important; }

  #page-5 .mouse {
    top: 41%;
    left: 43%; }
  #page-5 .zoom-link {
    width: 18% !important;
    height: 7% !important;
    top: 32% !important;
    left: 52% !important; }

  #page-7 .mouse {
    top: 49%;
    left: 40.5%; }
  #page-7 .zoom-link {
    width: 30% !important;
    height: 9% !important;
    top: 71% !important;
    left: 32% !important; }

  #page-9 {
    margin: 0; }
    #page-9 .btn-end {
      margin-top: 0; }
      #page-9 .btn-end a .btn-final {
        margin-top: 5%;
        width: 40%; }
        #page-9 .btn-end a .btn-final img {
          width: 100%; }
    #page-9 .reborn {
      margin-top: 5%; } }
@media screen and (max-width: 668px) {
  #page-1 .zoom-link {
    top: 16% !important; }

  #page-2 .zoom-link {
    top: 43% !important; }

  #page-3 .zoom-link {
    top: 18% !important; }

  #page-4 .zoom-link {
    height: 16.5% !important;
    top: 23% !important; }

  #page-5 .zoom-link {
    top: 30% !important; }

  #page-7 .zoom-link {
    top: 69% !important; } }
@media screen and (max-width: 569px) {
  .internas .pc {
    margin-bottom: 2.5%; }
    .internas .pc .btn-controle {
      width: 25%;
      right: 0;
      bottom: 10%; }

  #page-1 .mouse {
    top: 40% !important; }
  #page-1 .zoom-link {
    top: 18% !important; }

  #page-2 .mouse {
    top: 43% !important; }
  #page-2 .zoom-link {
    top: 45% !important; }

  #page-3 .mouse {
    top: 38% !important; }
  #page-3 .zoom-link {
    top: 19% !important;
    height: 17% !important; }

  #page-4 .mouse {
    top: 39% !important; }
  #page-4 .zoom-link {
    height: 16.5% !important;
    top: 24% !important; }

  #page-5 .mouse {
    top: 39% !important; }
  #page-5 .zoom-link {
    top: 32% !important; }

  #page-7 .mouse {
    top: 46% !important; }
  #page-7 .zoom-link {
    top: 71% !important; }

  #page-9 .btn-end a .btn-final {
    margin-top: 2.5%; } }

/*# sourceMappingURL=style.css.map */
